.shimmer-elem {
    animation: shimmer 2s infinite;
    background-size: 1000px 100%;
  }
  
  @keyframes shimmer {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }